@import url('ionicons.min.css');
@import url('animate.min.css');

body,html{
    height: 100%;
    overflow: auto;
}
body *,
html *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#wait{
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
    background: rgba(255, 255, 255, 0.5);
    z-index: 99999;
}
#wait div{
    position: absolute;
    width:69px;
    height:89px;
    top:50%;
    left:50%;
}

.login{
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
}
.login:before{
    content: "";
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
}
.login .back-slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}
.login .back-slide .slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.login .back-slide img{
    position: relative;
    display: block;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transition: transform 5s linear;
    -moz-transition: transform 5s linear;
    -ms-transition: transform 5s linear;
    -o-transition: transform 5s linear;
    transition: transform 5s linear;
}
.login .back-slide .animated img{
    transform: translate(-50%,-50%) scale(1.1);
    -webkit-transition: transform 5s linear;
    -moz-transition: transform 5s linear;
    -ms-transition: transform 5s linear;
    -o-transition: transform 5s linear;
    transition: transform 5s linear;
}
.login .v-align{
    display: table-cell;
    vertical-align: middle;
}
.login .container{
    position: relative;
    z-index: 1;
}
.login .form-login{
    display: block;
    margin: 0 auto;
    max-width: 500px;
    padding: 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.82);
}
.login .form-login .form-section {
    margin-bottom: 20px;
}

.login .form-login .form-section:last-of-type {
    margin-bottom: 0;
    text-align: center;
}

.login .form-login .title {
    color: #3C7578;
    margin-top: 0;
    text-align: center;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 30px;
}
.btn-styled,
.btn-styled2{
    background: #3C7578;
    color: #ffffff;
    padding: 6px 12px;
    margin: 0 10px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-styled:hover,
.btn-styled2:hover{
    background: #025449;
    color: #ffffff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-styled2{
    background: #db8e03;
    color: #ffffff;
}
.btn-styled2:hover{
    background: #B57503;
}