@import url('ionicons.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i');

html, body{
    width: 100%;
    height: 100%;
    position: relative;
    background: transparent;
}
form{
    padding: 0 ;
}
label{
    text-align: right;
}
table.headtable{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}
#tableBox th{
    text-align: center;
    min-width:100px;
    font-size: 10px;
}
input[type="number"], input[type="text"], select, textarea{    
    width: 100%;
    /* min-width: 100px; */
}
input[readonly], textarea[readonly]{
    font-size: 14px;
    border: 1px dashed gray;
    cursor: default;
    background: rgb(235,235,228);
}
i{
    font-size: 0.85em;
}
li.ui-menu-item:hover {
    background: #58C5F4;
}
label{
    color: #3C7578;
    text-transform: uppercase;
}
label.error{
    background-color: #fcf8e3;
    border: 1px dashed rgb(255, 74, 0);
    border-radius: 4px;
    color: #8a6d3b;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-style: italic;
    line-height: 1em;
    margin-top: 0px;
    padding: 0.5em 1em;
    text-align: left;
    text-transform: none;
    width: 100%;
}
#container{
    width: 100%;
    height: auto;    
    margin: 0 auto;
    box-sizing: border-box;
    border: none;
    text-align: center;
    position: relative;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

#tableBox{
    display:none;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
}
#tableBox div{
    position: relative;
    width:90%;
    height:90%;
    margin: 2% auto;
    background: white;
    padding: 10px;
    overflow-x: scroll;
}
#tableBox table{
    margin: 0 auto;
    position: relative;
}
#tableBox button{
    position: absolute;
    left: 45%;
    bottom: 20px;
    text-align: center; 
}

#table1{
    width: 100%;
    position: relative;
    overflow: auto;
    display: none;
    margin-top: 10px;
}

form .row:nth-child(odd){
background: #FFFFFF;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #e8e8e8;
}
.slider-arrow {
    background: #bfc525;
    border: 1px solid black;
    border-radius: 5px 0 0 5px;
    border-right: none;
    color: #000;
    float: right;
    font: 400 12px Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 3em;
    line-height: 2em;
    padding: 5px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 60px;
    width: 40px;
}

/* #tipoActivoBox {
    background: #bfc525;
}*/
#numActivoBox{
    background: #e9f3ac;
    display: none;
}
#numActivoBox .alert-danger{
    display: none;
}
#d2{
    display:none;
}
#subdenom>option{
    text-transform: uppercase;
}
#ui-id-1{
    height: 180px;
    overflow-y: scroll;
}
#wait{
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
    background: rgba(255, 255, 255, 0.5);
    z-index: 99999;
}
#wait div{
    position: absolute;
    width:69px;
    height:89px;
    top:10%;
    left:50%;
}
#inmuebles, #vehiculos, #vpr, #TrasladoBox{
    background: #aadddd;
    display: none;
}
#ceco-info{
    display: none;
}
#dialog-confirm{
    display: none;
}

.row-header{
    border: 1px solid burlywood;
    border: none;
    font-size: 14px;
    font-weight: bold;
    height: 33%;
    padding: 6px;
}
.box{
    text-align: left;
}
.col-center{
    text-align: center;
}
.form-group {
    margin-bottom: 0;
    padding: 5px 0;
}

.btn{
    margin: 10px 10px 0;
    text-transform: uppercase;
}
.button1{
    background: #3C7578;
    color: #ffffff;
}
.button2{
    background: #db8e03;
    color: #ffffff;
}
.button2.btn-error{
    background: #db0303;
}
.ui-dialog-titlebar-close{
    display:none;
}
.modalMessage{
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 400px;
    display: block;
    width: 100%;
    background: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 50px 0px rgba(0,0,0,.5);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 2;
}
.modalMessage.success{
    box-shadow: 0 0 50px 0px rgba(171, 255, 0, 0.6),
                0 0 50px 0px rgba(224, 153, 0, 1);
}
.modalMessage.warning{
    box-shadow: 0 0 50px 0px rgba(224, 153, 0, 0.60),
                0 0 50px 0px rgba(224, 153, 0, 1);
}
.modalMessage .close-message{
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    font-size: 20px;
    cursor: pointer;
}
.modalMessage h3{
    color: #3c7578;
    font-size: 18px;
    line-height: 1.2em;
    margin: 0.6em 0;
    text-align: center;
}
.table>tbody>tr>td, .table>tbody>tr>th,
.table>tfoot>tr>td, .table>tfoot>tr>th,
.table>thead>tr>td, .table>thead>tr>th{
    font-size: 12px;
}

.table-striped>tbody>tr:nth-of-type(odd):hover,
.table-striped>tbody>tr:nth-of-type(even):hover{
    background-color: #f4fbc6;
}

.ui-dialog-buttonset button{
    background: gray;
}
/* SHOW LIST */
.show-list {
    display: none;
    text-align: center;
    margin-top: 20px;
}
.show-list label {
    color: black;
    cursor: pointer;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 13px;
    color: #3C7578;
}
.show-list label .ion {
    font-size: 22px;
    display: inline-block;
    vertical-align: sub;
    margin-left: 5px;
    position: relative;
}
.show-list label sup {
    font-size: 10px;
    line-height: 20px;
    display: block;
    color: white;
    background: rgba(60, 117, 120, 0.9);
    position: absolute;
    right: -80%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 0;
    text-align: center;
}

/*adicionales*/

span.ion.remove-row {
    color: #a33500;
    font-size: 18px;
    line-height: 1em;
    cursor: pointer;
}

label.col-sm-2.col-form-label {
    margin-top: 5px;
}
.label-selector input[type="radio"],
.label-selector input[type="checkbox"]{
    display: none;
}
.label-selector input[type="radio"] ~ i,
.label-selector input[type="checkbox"] ~ i{
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    border: 1px solid #3C7578;
    position: relative;
}
.label-selector input[type="radio"] ~ i:before,
.label-selector input[type="checkbox"] ~ i:before{
    content: "\f121";
    position: absolute;
    font-family: "Ionicons";
    color: #3C7578;
    font-size: 15px;
    line-height: 18px;
    top: -2px;
    left: 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.label-selector input[type="radio"]:checked ~ i:before,
.label-selector input[type="checkbox"]:checked ~ i:before{
    opacity: 1;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.label-selector span{
    display: inline-block;
    vertical-align: middle;
}
.label-selector span sup{
    /*color: red;*/
    font-size: 70%;
    top: -.3em;
}
@media all and (max-width: 1200px){
    label{
        font-size: 11px;
    }
    input[readonly], textarea[readonly],.form-control{
        font-size: 12px;
    }
}

.red{
    text-align: left;
    color: red;
}

.sn .ion{
    position: absolute;
    right: 10px;
    bottom: -6px;
    color: #3c7578;
    cursor: pointer;
    font-size: 45px;
}
.modalbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 9999;
    display: none;
}
.modalbox > .table {
    display: table;
    height: 100%;
    width: 100%;
    table-layout: fixed;
}
.modalbox > .table > .table-cell {
    display: table-cell;
    vertical-align: middle;
}
.modalbox .content {
    display: block;
    margin: 0 auto;
    max-width: 1140px;
    max-width: 90%;
    padding: 20px;
    background: white;
    position: relative;
}
.modalbox .close-modal {
    position: absolute;
    right: -6px;
    top: -6px;
    z-index: 1;
    font-size: 30px;
    cursor: pointer;
}
.modalbox .content .cover-table {
    overflow: auto;
    max-height: 90vh;
}