 /*
 .ion {
    position: absolute;
    right: 0px;
    bottom: -6px;
    color: #3c7578;
    cursor: pointer;
    font-size: 45px;
}
*/
#container{
    padding: 0 5%;
}

.row {
    margin: 5px 0;
}
.show-characteristics, .slide-info, .modificaciones, #justificacion{
    display: none;
}
.show-characteristics {
    text-align: center;
    margin-bottom: 20px;
}
.show-characteristics span {
    cursor: pointer;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 13px;
    color: #3C7578;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.show-characteristics .ion {
    font-size: 26px;
    line-height: .5em;
    display: inline-block;
    vertical-align: sub;
    margin-left: 5px;
    position: relative;
}

.form-section{
    text-align: left;
    float: left;
}
form .slide-info.row {
    background: #f9f9f9;
    padding: 30px 0;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    /* display: none; */
}
.slide-info label {
    float: left;
    margin-right: 10px;
}
.slide-info span {
    display: inline-block;
    vertical-align: middle;
    /* display: block; */
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #696969;
}
.datoNuevo{
    display: none;
}

.sn .ion {
    position: absolute;
    right: 10px;
    bottom: -6px;
    color: #3c7578;
    cursor: pointer;
    font-size: 45px;
}


.modalbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 9999;
    display: none;
}
.modalbox > .table{
    display: table;
    height: 100%;
    width: 100%;
    table-layout: fixed;
}
.modalbox > .table > .table-cell{
    display: table-cell;
    vertical-align: middle;
}
.modalbox .content{
    display: block;
    margin: 0 auto;
    max-width: 1140px;
    max-width: 90%;
    padding: 20px;
    background: white;
    position: relative;
}
.modalbox .content .cover-table{
    overflow: auto;
    max-height: 90vh;
}
.modalbox .content .table{
    font-size: 12px;
}
.modalbox .content .table td{
    line-height: 1.2em;
}
.modalbox .content .table td.always-hide-column{
    display: none;
}
.modalbox .close-modal{
    position: absolute;
    right: -6px;
    top: -6px;
    z-index: 1;
    font-size: 30px;
    cursor: pointer;
}
.operacionBox, .matriculaVehiculo{
    display: none;
}
input.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #DEDEDE;
}
input.form-control::-moz-placeholder { /* Firefox 19+ */
    color: #DEDEDE;
}
input.form-control:-ms-input-placeholder { /* IE 10+ */
    color: #DEDEDE;
}
input.form-control:-moz-placeholder { /* Firefox 18- */
    color: #DEDEDE;
}
input.form-control::placeholder { /* Chrome/Opera/Safari */
    color: #DEDEDE;
}
.ui-datepicker-title>select{
    color: black;
}
