@import url('ionicons.min.css');
@import url('animate.min.css');


.mt00{
    margin-top: 0 !important;
}
.mh10{
    margin: 0 10px !important;
}
.mb10{
    margin-bottom: 10px !important;
}
.m00{
    margin: 0 !important;
}
.mv20{
    margin: 20px 0 !important;
}
.pl00{
    padding-left: 0 !important;
}
.pr00{
    padding-right: 0 !important;
}
.label-selector{
    cursor: pointer;
}
.label-selector + .form-control{
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin-right: 20px;
}
.container.big-container{
    max-width: 100%;
    width: 100% !important;
    padding: 0 30px;
}
.main-header{
    padding-bottom: 10px;
}
/* .main-header .container{
    padding: 0;
} */
.main-header .logo{
    float: left;
    max-width: 215px;
    margin-bottom: 20px;
}
.banner-form{
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.banner-form .container{
    position: relative;
    z-index: 1;
}
.banner-form .back-banner{
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}
.banner-form .block-name-form{
    background: #CBD300;
    background: rgba(0, 0, 0, 0.35);
    background: -moz-linear-gradient(left, rgba(0,0,0,.35) 0%, rgba(0,0,0,0.35) 15%, rgba(0,0,0,0.35) 75%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,.35) 0%,rgba(0,0,0,0.35) 15%,rgba(0,0,0,0.35) 75%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,.35) 0%,rgba(0,0,0,0.35) 15%,rgba(0,0,0,0.35) 75%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
    color: white;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    line-height: 1.2em;
    max-width: 570px;
    padding-left: 100px;
    padding-right: 30px;
    min-height: 150px;
    display: flex;
    flex-flow: row wrap;
}
.banner-form .glyphicon,
.banner-form .ion{
    position: absolute;
    top: 50%;
    left: 30px;
    color: #e2e773;
    font-size: 60px;
    line-height: 1em;
    opacity: 1;
    margin-top: -30px;
}
.banner-form .title{
    display: block;
    margin: auto 0;
    width: 100%;
    font-size: 22px;
    font-weight: bold;
}
input[type=file].upload-control{
    display: none;
}
.withdrawal-form{
    display: block;
    position: relative;
    padding: 30px 0;
    padding-top: 0px;
}
.withdrawal-form .title{
    margin-top: 10px;
    /* margin-bottom: 30px; */
    color: #3c7578;
    font-weight: 700;
    font-size: 18px;
}
.withdrawal-form .col-lg-1,.withdrawal-form .col-lg-10,.withdrawal-form .col-lg-11,.withdrawal-form .col-lg-12,.withdrawal-form .col-lg-2,.withdrawal-form .col-lg-3,.withdrawal-form .col-lg-4,.withdrawal-form .col-lg-5,.withdrawal-form .col-lg-6,.withdrawal-form .col-lg-7,.withdrawal-form .col-lg-8,.withdrawal-form .col-lg-9,.withdrawal-form .col-md-1,.withdrawal-form .col-md-10,.withdrawal-form .col-md-11,.withdrawal-form .col-md-12,.withdrawal-form .col-md-2,.withdrawal-form .col-md-3,.withdrawal-form .col-md-4, .withdrawal-form.col-md-5,.withdrawal-form .col-md-6,.withdrawal-form .col-md-7,.withdrawal-form .col-md-8,.withdrawal-form .col-md-9,.withdrawal-form .col-sm-1,.withdrawal-form .col-sm-10,.withdrawal-form .col-sm-11,.withdrawal-form .col-sm-12,.withdrawal-form .col-sm-2, .withdrawal-form.col-sm-3,.withdrawal-form .col-sm-4,.withdrawal-form .col-sm-5,.withdrawal-form .col-sm-6,.withdrawal-form .col-sm-7,.withdrawal-form .col-sm-8,.withdrawal-form .col-sm-9,.withdrawal-form .col-xs-1,.withdrawal-form .col-xs-10,.withdrawal-form .col-xs-11, .withdrawal-form.col-xs-12,.withdrawal-form .col-xs-2,.withdrawal-form .col-xs-3,.withdrawal-form .col-xs-4,.withdrawal-form .col-xs-5,.withdrawal-form .col-xs-6,.withdrawal-form .col-xs-7,.withdrawal-form .col-xs-8,.withdrawal-form .col-xs-9{
    padding-left: 10px;
    padding-right: 10px;
}
.withdrawal-form .row{
    margin-left: -10px;
    margin-right: -10px;
}
.withdrawal-form .form-section{
    margin-bottom: 10px;
}
.withdrawal-form .form-section.hidden{
    display: block !important;
    min-height: 59px;
    visibility: hidden;
}
.withdrawal-form label{
    margin-bottom: 5px;
    color: #3C7578;
    font-size: 13px;
}
.withdrawal-form label.btn{
    color: white;
    margin: 20px 0;
}
.withdrawal-form .label-selector{
    margin-right: 20px;
    cursor: pointer;
}
.withdrawal-form .block-inputs{
    position: relative;
    margin-top: 10px;
}
.withdrawal-form .block-inputs:before,
.withdrawal-form .block-inputs:after{
    content: "";
    display: block;
}
.withdrawal-form .block-inputs:after{
    clear: both;
}
.withdrawal-form .percentage:before,
.withdrawal-form .percentage:after{
    content: "";
    display: block;
}
.withdrawal-form .percentage:after{
    clear: both;
}
.withdrawal-form .percentage .form-control{
    width: -webkit-calc(100% - 150px);
    width: -moz-calc(100% - 150px);
    width: calc(100% - 150px);
    float: left;
}
.withdrawal-form .percentage .percentage-value{
    color: #3C7578;
    float: left;
    width: 150px;
    padding-left: 10px;
    line-height: 34px;
    text-align: right;
}
.withdrawal-form .block-inputs .subnumber{
    position: absolute;
    display: none;
    width: 125px;
    top: -20px;
    right: 0;
    text-align: center;
    color: #3C7578;
}
.withdrawal-form .block-inputs .block{
    width: 100%;
    float: left;
}
.withdrawal-form .block-inputs .block:last-of-type{
    display: none;
}
.withdrawal-form .block-inputs.double .block:first-of-type{
    width: -webkit-calc(100% - 135px);
    width: -moz-calc(100% - 135px);
    width: calc(100% - 135px);
}
.withdrawal-form .block-inputs.double .block:last-of-type{
    display: block;
    width: 125px;
    margin-left: 10px;
}
.withdrawal-form .block-inputs.double .subnumber{
    display: block;
}
.withdrawal-form .block-inputs .ion{
    position: absolute;
    right: 0px;
    top: 50%;
    color: #3c7578;
    cursor: pointer;
    font-size: 45px;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.withdrawal-form textarea.form-control{
    resize: none;
    height: 80px;
}
.label-selector input[type="radio"],
.label-selector input[type="checkbox"]{
    display: none;
}
.label-selector input[type="radio"] ~ i,
.label-selector input[type="checkbox"] ~ i{
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    border: 1px solid #3C7578;
    position: relative;
}
.label-selector input[type="radio"] ~ i:before,
.label-selector input[type="checkbox"] ~ i:before{
    content: "\f121";
    position: absolute;
    font-family: "Ionicons";
    color: #3C7578;
    font-size: 15px;
    line-height: 18px;
    top: -2px;
    left: 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.label-selector input[type="radio"]:checked ~ i:before,
.label-selector input[type="checkbox"]:checked ~ i:before{
    opacity: 1;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.label-selector span{
    display: inline-block;
    vertical-align: middle;
}
.label-selector span sup{
    /*color: red;*/
    font-size: 70%;
    top: -.3em;
}
.disclaimer {
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #3c7578;
}
.disclaimer span{
    color: red;
}
.btn-styled,
.btn-styled2{
    background: #3C7578;
    color: #ffffff;
    padding: 6px 12px;
    margin: 0 10px;
    margin-top: 20px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-styled:hover,
.btn-styled2:hover{
    background: #025449;
    color: #ffffff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-styled2{
    background: #db8e03;
    color: #ffffff;
}
.btn-styled2:hover{
    background: #B57503;
}
.fix-margin{
    margin: 0;
    margin-bottom: 20px;
}
.modalbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    z-index: 9999;
    display: none;
    overflow: auto;
}
.modalbox > .table{
    display: table;
    height: 100%;
    width: 100%;
    table-layout: fixed;
    margin: 0;
}
.modalbox > .table > .table-cell{
    display: table-cell;
    vertical-align: middle;
}
.modalbox .content{
    display: block;
    margin: 0 auto;
    max-width: 1140px;
    /* max-width: 90%; */
    padding: 20px;
    background: white;
    position: relative;
    box-shadow: 0 0 40px 0px rgba(0,0,0,0.5);
}
p .modalbox .content .cover-table{
    overflow: auto;
    width: 100%;
    max-height: 90vh;
}
.modalbox .content .table{
    font-size: 12px;
}
.modalbox .content .label-selector{
    margin: 0 10px;
    margin-bottom: 10px;
}
.modalbox .content .table td{
    line-height: 1.2em;
}
.modalbox .content .table td.always-hide-column{
    display: none;
}
.modalbox .close-modal{
    position: absolute;
    right: -6px;
    top: -6px;
    z-index: 1;
    font-size: 30px;
    cursor: pointer;
}

.show-list{
    display: none;
    text-align: center;
    margin-bottom: 40px;
}
.show-list label{
    color: black;
    cursor: pointer;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 13px;
    color: #3C7578;
}
.show-list label .ion{
    font-size: 22px;
    display: inline-block;
    vertical-align: sub;
    margin-left: 5px;
    position: relative
}
.show-list label .ion:before{
    position: relative;
    display: block;
    z-index: 1;
}
.show-list label sup{
    font-size: 10px;
    line-height: 20px;
    display: block;
    color: white;
    background: rgba(60, 117, 120, 0.9);
    position: absolute;
    right: -80%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 0;
    text-align: center;
}

.table-bajas .ion,
.table-traslados .ion{
    color: #a33500;
    font-size: 18px;
    line-height: 1em;
    cursor: pointer;
}

label.error{
    font-size: 11px;
    width: 100%;
    text-align: left;
    border: 1px dashed;

    padding: 5px;
    margin-top: 0px;
    border-radius: 4px;

    background-color: #fcf8e3;
    border-color: #a33500;
    color: #8a6d3b;
}
.modalMessage{
    position: fixed;
    top: 20%;
    left: 50%;
    max-width: 420px;
    display: block;
    width: 100%;
    background: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 50px 0px rgba(0,0,0,.5);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 2;
}
.modalMessage .close-message{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    cursor: pointer;
}
.modalMessage h3{
    color: #3c7578;
    font-size: 18px;
    line-height: 1.2em;
    margin: 0.6em 0;
    text-align: center;
}

.fields-group{
    display: block;
}
.mb20{
    margin-bottom: 20px;
}
.fields-group .block{
    position: relative;
}
.fields-group .block:first-of-type{
    float: left;
    display: block;
    width: -webkit-calc(100% - 135px);
    width: -moz-calc(100% - 135px);
    width: calc(100% - 135px);
}
.fields-group .block:last-of-type{
    float: left;
    display: block;
    width: 120px;
    margin-left: 15px;
}
.fields-group .subnumber{
    font-size: 14px;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
    color: #3C7578;
    text-transform: uppercase;
}
.fields-group .ion{
    position: absolute;
    right: 0px;
    bottom: -6px;
    color: #3c7578;
    cursor: pointer;
    font-size: 45px;
}
.fields-group .withdrawal-partial{
    display: none;
    padding: 0;
}
.fields-group .withdrawal-partial .withdrawal-result{
    display: block;
    font-size: 16px;
    line-height: 34px;
}
.fields-group .withdrawal-partial .block{
    margin: 0;
}
.fields-group .withdrawal-partial .block:first-of-type,
.fields-group .withdrawal-partial .block:last-of-type{
    width: 33.333%;
}
.inline-table{
    display: none;
    overflow: auto;
    margin-bottom: 20px;
    font-size: 12px;
    max-height: 400px;
}
.inline-table.type2{
    max-height: 158px;
}
.inline-table .table{
    margin-bottom: 0;
}
.table .border-top{
    border-top: 2px solid #dddddd;
}
.table .border-bottom{
    border-bottom: 2px solid #dddddd;
}
.table .border-left{
    border-left: 2px solid #dddddd;
}
.table .border-right{
    border-right: 2px solid #dddddd;
}
.table .green{
    text-align: center;
    color: #3C7578;
    font-size: 18px;
}
.ctrls-table {
    text-align: right;
    font-size: 30px;
    line-height: 1em;
    cursor: pointer;
    display: none;
    margin-left: auto;
}
.ctrls-table .ion {
    display: block;
    width: 30px;
    text-align: center;
    margin-left: auto;
}
.hide-column,
.always-hide-column{
    display: none;
}
.slide-info {
    background: #f9f9f9;
    padding: 30px 0;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    display: none;
}
.slide-info.dont-show{
    display: none;
}
.slide-info:before,
.slide-info:after{
    content: "";
    display: block;
    height: 0;
}
.slide-info:after{
    clear: both;
}

.slide-info .form-control {
    display: none;
}

.slide-info span {
    display: inline-block;
    vertical-align: middle;
    /* display: block; */
    font-size: 13px;
    line-height: 1em;
    margin-bottom: 5px;
    color: #696969;
}
.slide-info label {
    float: left;
    margin-right: 10px;
}
.slide-info .form-section{
    margin-bottom: 8px;
}
.slide-info .form-section:before,
.slide-info .form-section:after {
    content: "";
    display: block;
}
.slide-info .form-section:after{
    clear: both;
}
.new-data{
    display: none;
    padding-top: 20px;
}
.ctrl-tabs {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 0;
    margin-bottom: 20px;
}
.ctrl-tabs .tabs {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    padding: 10px;
    background: #000000;
    color: white;
    opacity: 1;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.block-tabs .tabs {
    display: none;
}
.block-tabs .tabs.active {
    display: block;
}
.ctrl-tabs .tabs.active,.ctrl-tabs .tabs:hover {
    background: #3d9095;
    opacity: 1;
    transition: all .3s ease-in-out;
}
.double-item {
    display: block;
    width: 100%;
    font-size: 0;
    margin: 5px 0;
    padding: 10px;
    background: #efefef;
    border-radius: 10px;
}
.double-item label {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #b57f00;
    width: 70px;
    padding-right: 10px;
    text-align: left;
    margin-bottom: 0;
}
.double-item label.error {
    width: 100%;
}
.double-item .ion{
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    color: #d78d06;
    margin-right: 10px;
    cursor: pointer;
    width: 30px;
    text-align: center;
}
.double-item .ion.ion-checkmark{
    color: #007343;
}
.double-item span,
.double-item .form-control{
    display: inline-block;
    vertical-align: middle;
    width: -webkit-calc(100% - 70px);
    width: -moz-calc(100% - 70px);
    width: calc(100% - 70px);
    font-size: 13px;
    height: auto;
    font-style: normal;
}
.double-item span i{
  font-style: normal;
  font-size: 1em;
}
.double-item .form-control{
    display: none;
    margin-top: 10px;
    width: 100%;
}
.double-item.required .form-control{
    display: inline-block;
}
/* .double-item.edit span{
  display: none;
} */
.double-item.edit .form-control{
  display: inline-block;
}
.double-item.changed span{
  text-decoration: line-through;
  color: rgba(0,0,0,0.5);
}
.double-item.changed span i{
  font-style: normal;
  font-size: 1em;
  color: rgba(0,0,0,1);
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.double-item.blocked>i{
    display: none;
}
.show-characteristics {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    display: none;
}
.show-characteristics.abs{
    position: absolute;
    right: 0;
    -webkit-transform: translate(50%,0);
    -moz-transform: translate(50%,0);
    transform: translate(50%,0);
    z-index: 1;
}

.show-characteristics .ion {
    font-size: 26px;
    line-height: .5em;
    display: inline-block;
    vertical-align: sub;
    margin-left: 5px;
    position: relative;
}

.show-characteristics span {
    cursor: pointer;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 13px;
    color: #3C7578;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.row-slide-info{
    margin-top: 45px;
}

form .row:nth-child(odd){
    background: transparent;
}
form .row:nth-child(odd).slide-info {
    background: #f9f9f9;
}
.ui-datepicker-title select{
    color: initial;
}
.show-subnumber .block:first-child .ion{
    display: none;
}
.show-subnumber.hide-subnumber .block:first-child .ion{
    display: block;
}
.show-subnumber.hide-subnumber .subnumber-block{
    display: none;
}
.show-subnumber.hide-subnumber .block:first-of-type{
    width: 100%;
}
.table-subnumbers tbody tr{
    cursor: pointer;
}
.table-subnumbers tbody tr:hover{
    background: rgba(96, 187, 170, 0.18);
}
[data-action]{
    position: relative;
    cursor: pointer;
}
[data-action] .cloned{
    height: 100%;
    width: auto;
    max-width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
}
[data-action] .cloned:hover{
    opacity: 1;
}
td.format{
    text-align: right;
}
span[data-name="valor_disponible"] {
    display: block;
    line-height: 2.4em;
}

.modalbox[data-modal="multiples"] .content {
    max-width: 700px;
}
.modalbox[data-modal="multiples"] .title {
    color: #3c7578;
    font-size: 30px;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}
.modalbox[data-modal="multiples"] textarea.form-control{
    /* min-height: 200px; */
    height: 34px;
    resize: none;
}
/* .cover-table {
    overflow: auto;
} */

.withdrawal-form.altas .row-campo,
.withdrawal-form.altas .row-vehiculos,
.withdrawal-form.altas .row-traslados{
    display: none;
}
.withdrawal-form .row-creacion .col-md-6{
    display: none;
}
.withdrawal-form .row-creacion .col-md-6.active{
    display: block;
}
.autocomplete-wrapper{
    position: relative;
    font-size: 12px;
}
.autocomplete-wrapper .autocomplete-box{
    position: absolute;
    top: 100%;
    width: 100%;
    height: auto;
    max-height: 140px;
    z-index: 9999;
    overflow: auto;
    background: white;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 0 10px 0px rgba(0,0,0,.3);
}
.autocomplete-wrapper .autocomplete-box:empty{
    display: none;
}
.autocomplete-wrapper .autocomplete-box .selector{
    padding: 5px 10px;
    font-size: 1em;
    line-height: 1.2em;
    background: white;
    color: black;
    /* text-transform: uppercase; */
}
.autocomplete-wrapper .autocomplete-box .selector:hover,
.autocomplete-wrapper .autocomplete-box .selector.hover{
    background: #025449;
    color: white;
}
.block-complement{
    font-size: 0;
}
.block-complement label{
    display: block;
    text-align: left;
}
.block-complement .complement{
    display: none;
}
.block-complement.show .form-control{
    width: 50%;
    display: inline-block;
    vertical-align: middle
}
.block-complement.show .complement{
    display: inline-block;
}
.form-control[readonly]{
    pointer-events: none;
}
.disclaimer{
    font-weight: 700;
    font-size: 11px;
    color: #860101;
}
.informative-vut{
    display: none;
}
.sigma .value{
    display: block;
    line-height: 34px;
}

footer>div.supportedBrowsers, footer>div.browserIcons{
    text-align: right;
    font-size: 10px;
}
footer span a{
    color: #23527c;
    text-decoration: underline;
}
footer span.browser{
    background: url(../img/browsers.png);
    background-position: 0 40px;
    background-size: auto 80px;
    display: inline-block;
    font-size: 8px;
    height: 40px;
    margin: 0 2px;
    padding-top: 40px;
    position: relative;
    text-align: center;
    width: 40px;
}
footer span.browser.firefox{
    background-position-x: -40px;
}
footer span.browser.edge{
    background-position-x: -80px;
}
footer span.browser.safari{
    background-position-x: -120px;
}
footer span.browser.opera{
    background-position-x: -160px;
}

@media all and (max-width: 1200px){
    .fields-group .block:first-of-type,
    .fields-group .withdrawal-partial .block:first-of-type{
        width: -webkit-calc(100% - 120px);
        width: -moz-calc(100% - 120px);
        width: calc(100% - 120px);
    }
    .fields-group .block:last-of-type,
    .fields-group .withdrawal-partial .block:last-of-type{
        width: 100px;
    }
    .fields-group .withdrawal-partial .block:first-of-type,
    .fields-group .withdrawal-partial .block:last-of-type {
        width: 33.333%;
    }
    .fields-group .subnumber,
    .withdrawal-form label{
        font-size: 11px;
    }
    .block.subnumber-block{
        margin-top: 5px;
    }
    .fields-group .withdrawal-partial .withdrawal-result{
        font-size: 14px;
    }
    .col-lg-12{
        clear: both;
    }
    .form-control{
        font-size: 12px;
    }
    .slide-info span{
        font-size: 12px;
    }
}
@media all and (max-width: 1023px){
    .fields-group .withdrawal-partial{
        padding: 0 15px;
    }
    .fields-group .withdrawal-partial .block:first-of-type,
    .fields-group .withdrawal-partial .block:last-of-type{
        width: 100%;
    }
}
@media all and (max-width: 500px){
    .fields-group .block:first-of-type,
    .fields-group .block:last-of-type{
        width: 100%;
    }
    .fields-group .block:last-of-type{
        margin-left: 0;
        margin-top: 20px;
    }
}

/*IE 11 AND IE 10*/
@media all and (-ms-high-contrast:none) {
    span.ion.remove-row{
        display: inline-block;
        width: 18px;
        height: 15px;
        background: url(../img/trash.png) no-repeat;
        background-size: contain;
        background-position: 50% 50%;
    }
    .modalMessage .close-message{
        width: 20px;
        height: 20px;
        background: url(../img/error.png) no-repeat;
        background-size: contain;
        background-position: 50% 50%;
    }
    .error-multiple .line span i{
        width: 12px;
        height: 13px;
        background: url(../img/bug.png) no-repeat;
        background-size: contain;
        background-position: 50% 50%;
    }
}
