.cover_row_masive_data{
    max-height: 40vh;
    overflow: auto;
    display: block;
}
.rows_masive_data{
    width: 100%;
    margin-top: 10px;
    font-size: 12px;
}
.rows_masive_data th,
.rows_masive_data td{
    /* padding: 5px; */
}
.rows_masive_data th{
    text-align: center;
    padding: 5px;
}
.rows_masive_data td:last-child{
    padding: 5px;
}
.rows_masive_data .ion.ion-trash-b {
    color: #a33500;
    font-size: 18px;
    cursor: pointer;
}
.newRow-multiple {
    text-align: center;
    font-size: 16px;
    color: #3c7578;
    text-decoration: underline;
    cursor: pointer;
    display: block;
    max-width: 160px;
    margin: 0 auto;
    margin-top: 15px;
}
.form-control:focus {
    border-color: #52a2e2;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(58, 146, 216, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(58, 146, 216, 0.6);
}
.single-view{
    display: block;
    margin-bottom: 20px;
}
.multiple-view{
    display: none;
    text-align: left;
}
.nav-tabs {
    display: block;
    width: 100%;
    font-size: 0;
    border: 0;
    margin: 20px 0;
}
.nav-tabs ul {
    margin: 0;
    padding: 0;
    text-align: left;
}
.nav-tabs li{
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    font-size: 15px;
    line-height: 1em;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    border-bottom: 0;
}
.nav-tabs li i{
    font-style: normal;
}
.nav-tabs li:first-child{
    background: rgba(10, 140, 0, 0.5);
    transition: all .3s ease;
}
.nav-tabs li:first-child.active,
.nav-tabs li:first-child:hover{
    background: rgba(10, 140, 0, 1);
    transition: all .3s ease;
}
.nav-tabs li:last-child{
    background: rgba(195, 10, 10, 0.5);
    transition: all .3s ease;
}
.nav-tabs li:last-child.active,
.nav-tabs li:last-child:hover{
    background: rgba(195, 10, 10, 1);
    transition: all .3s ease;
}
.tabs{
    display: block;
    width: 100%;
}
.tabs .tab{
    display: none;
}
.tabs .tab.active{
    display: block;
}
.tabs .cover-table{
    overflow: auto;
    width: 100%;
}
.success-multiple{
    width: 100%;
    display: none;
}
.success-multiple th{
    padding: 10px;
    background: rgb(60, 117, 120);
    color: white;
    border: 1px solid white;
    font-size: 12px;
}
.success-multiple.traslados tr:first-child th{
    background: rgb(230,230,230);
    color: rgb(0,56,66);
    text-align: center;
    border-color: black;
}
.success-multiple td{
    padding: 10px;
    border: 1px solid black;
    font-size: 12px;
}
.success-multiple tbody tr:nth-child(even) {
    background: #e6edee;
}
.error-multiple{
    font-size: 0;
    margin-top: 20px;
}
.error-multiple .item {
    margin-bottom: 20px;
    /* display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 0 20px; */
}
.error-multiple .line {
    padding: 10px 20px;
    background: rgb(60, 117, 120);
    font-size: 16px;
    color: white;
    margin: 0;
    cursor: pointer;
}
.error-multiple ul {
    background: #f5f5f5;
    display: none;
    padding: 10px 20px;
    padding-left: 40px;
    margin: 0;
}
.error-multiple ul > ol {
    padding: 10px 20px;
    padding-top: 0;
    list-style-type: circle;
}
.error-multiple ul > ol li {
    margin-bottom: 5px;
}
.error-multiple ul li {
    margin-bottom: 10px;
    color: #af8300;
    font-size: 14px;
}
.error-multiple ul li:last-child {
    margin-bottom: 0;
}
.error-multiple .line span {
   display: inline-block;
   vertical-align: top;
   margin-left: 20px;
   font-style: italic;
}
.error-multiple .line span i {
   display: inline-block;
   vertical-align: middle;
   margin-right: 5px;
   color: #ffd761;
}
.btn-styled,
.btn-styled2{
    background: #3C7578;
    color: #ffffff;
    padding: 6px 12px;
    margin: 0 10px;
    margin-top: 20px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-styled:hover,
.btn-styled2:hover{
    background: #025449;
    color: #ffffff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-styled2{
    background: #db8e03;
    color: #ffffff;
}
.btn-styled2:hover{
    background: #B57503;
}
.btn-excel {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    margin-left: 10px;
    color: #1e6f43;
}
.btn-excel img{
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    /* height: 20px; */
}
.fix-margin{
    margin: 0;
    margin-bottom: 20px;
}
input[type=file].upload-control{
    display: none;
}
.nav-view .btn{
    opacity: 1;
}
.nav-view .btn:hover,
.nav-view .btn.active{
    opacity: 1;
}
.thankyou-message {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    background: white;
    display: none;
}
.thankyou-message .table {
    display: table;
    width: 100%;
    height: 100%;
}
.thankyou-message .table-cell {
    display: table-cell;
    text-align: center;
    vertical-align: top;
    padding-top: 200px;
}
.thankyou-message .title {
    color: #3c7578;
    margin: 0;
    padding: 0 20px;
    font-size: 25px;
    line-height: 1.5em;
}

.choose-asset,
.campoSuggest {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    background: rgba(0,0,0,0.8);
    display: block;
}
.choose-asset .table,
.campoSuggest .table {
    display: table;
    width: 100%;
    height: 100%;
}
.choose-asset .table-cell,
.campoSuggest .table-cell {
    display: table-cell;
    text-align: center;
    vertical-align: top;
    padding-top: 200px;
}
.choose-asset .content,
.campoSuggest .content {
    display: block;
    width: 100%;
    max-width: 500px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
} 
.choose-asset .title,
.campoSuggest .title {
    font-size: 18px;
    color: black;
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
}
.choose-asset table{
    text-align: left;
    width: 100%;
    /* table-layout: fixed; */
}
.choose-asset table td,
.choose-asset table th{
    padding: 5px;
    font-size: 12px;
}
.choose-asset table tbody tr{
    cursor: pointer;
}
.choose-asset table tbody tr:hover td{
    background: rgba(11, 166, 191, 0.16);
}