body
{
    background-color:#E6E6E6;
    font-family:helvetica;
    text-align: center;
}
img{
    margin: 0 auto;
}
#heading
{
    text-align:center;
    margin-top:20px;
    font-size:30px;
    color: #707070;
}
#tableBox{
    width: 700px;
    margin: 0 auto;
    overflow-x: scroll;
}
#tableBox table{
    margin: 15px auto;
}
#tableBox table th, #tableBox table td{
    padding:5px;
}
#tableBox table th{
    background: #2f4f36;
    color: #ffffff;
}
#tableBox table tr:nth-child(odd){
    background: #88aa88;
}
#tableBox table tr:nth-child(even){
    background: #f4f4f4;
}
#tableBox table td{
    text-align: left;     
}
#select_box
{
    /*width:600px;*/
    background-color:#88aa88;
    margin: 0 auto;
    padding:10px;
    height:240px;
    border-radius:5px;
    box-shadow:0px 0px 10px 0px grey;
}
select
{
    width:580px;
    height:50px;
    border:1px solid #BDBDBD;
    margin-top:20px;
    padding:10px;
    font-size:20px;
    color:grey;
    border-radius:5px;
}