.modificaciones{
    display:none;
}

.datosCustodio, .vidaUtil{
    display: none; 
}

.custodioNew .ion {
    position: absolute;
    right: 16px;
    bottom: 0px;
    color: #3c7578;
    cursor: pointer;
    font-size: 35px;
}

.cecoNew .ion {
    position: absolute;
    right: 16px;
    bottom: 0px;
    color: #3c7578;
    cursor: pointer;
    font-size: 35px;
}

#tableBox{
    position: fixed;
}
#tableBox div{
    position: absolute;
    max-width: 90%;
    height: auto;
    max-height: 90%;
    top: 50%;
    left: 50%;
    overflow: auto;
    transform: translate(-50%,-50%);
}
.labelGray{
    font-size: 10px;
    color: gray;
    font-style: italic;
}